
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,300;1,400&family=Quicksand:wght@300&display=swap');



h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Mukta', sans-serif;
    background-color: rgba(77, 168, 153, 0.616);
    border-radius: 10px 0px 0px 0px;
    
}
body{
background-color: rgb(61, 103, 114);

}
div.box1{
    border: 3px solid rgba(0, 0, 0, 0.322);
    border-radius: 10px 10px 0px 0px;
    width: 500px;
    height: 650px;
    margin: 0px 20px 10px 980px;
    margin-left: 830px;
    padding: 10px;
    max-width: 600px;
    min-width: 500px;
    background: linear-gradient(rgb(123, 180, 184),rgb(50, 74, 83));
    
}
.box2{
    padding: 10px;
    width: 300px;
    height: 10px;
    font-size: 43px;
  
}
.box3{
    border: 3px solid rgba(0, 0, 0, 0.322);
    border-radius: 10px 10px 0px 10px;
    width: 500px;
    height: 600px;
    margin-left: 300px;
    margin-top: -635px;
    padding: 10px;
    max-width: 600px;
    min-width: 500px;
    background: linear-gradient(rgb(123, 180, 184),rgb(50, 74, 83));
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}
p{
    color: white;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    
}
.me{
    color: rgb(162, 215, 223);
}
ul{
    color: white;
}
.back{
    
    border: 1px solid black;
    border-radius: 10px 0px 10px 10px;
    height: 200px;
    width: 220px;
    text-align: center;
    background: linear-gradient(rgb(123, 180, 184),rgb(50, 74, 83));
}
.img{
    border-radius: 10px;
}