
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(202, 58, 58, 0.616);
    border-radius: 10px 0px 0px 0px;
    
}
body{
background-color: rgb(255, 255, 255);
}
div.box1{
    border: 3px solid rgba(0, 0, 0, 0.322);
    border-radius: 0px 10px 10px 0px;
    width: 500px;
    height: 600px;
    margin: 0px 20px 10px 980px;
    padding: 10px;
    max-width: 600px;
    min-width: 500px;
    background: linear-gradient(rgb(241, 64, 64),rgb(207, 133, 133));
}
.box2{
    padding: 10px;
    width: 300px;
    height: 10px;
    font-size: 43px;
  
}
.box3{
    border: 3px solid rgba(0, 0, 0, 0.322);
    border-radius: 10px 0px 0px 10px;
    width: 500px;
    height: 600px;
    margin-left: 450px;
    margin-top: -635px;
    padding: 10px;
    max-width: 600px;
    min-width: 500px;
    background: linear-gradient(rgb(241, 64, 64),rgb(207, 133, 133));
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}
p{
    color: white;
    font-weight: bold;
    
}
.me{
    color: black;
}
ul{
    color: white;
}
